@media (min-width: 576px) {
  .broadcast__archive::before {
    width: calc(100% + 80px);
  }

  .guest__card-body {
    padding-right: 45px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 90px;
    padding-right: 90px;
  }

  .header {
    padding: 0 114px;
  }

  .header__top {
    padding-top: 29px;
    padding-bottom: 26px;
  }

  .header__logo {
    width: 113px;
  }

  .header__bottom {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .header__search {
    top: 29px;
    right: 109px;
  }

  .header__nav {
    margin-left: -114px;
    margin-right: -114px;
    padding-right: 114px;
    padding-left: 114px;
  }

  .nav__list {
    gap: 53px;
  }

  .hero__h1 {
    padding-top: 90px;
    font-size: 60px;
  }

  .hero__description {
    margin-top: 17px;
    margin-bottom: 18px;
    font-size: 16px;
  }

  .hero__btn {
    padding: 25px 54px;
    font-size: 20px;
  }

  .hero__content {
    margin-bottom: 90px;
  }

  .podcasts__content {
    padding-bottom: 64px;
  }

  .podcasts__h2 {
    margin-bottom: 30px;
    padding-top: 40px;
    font-size: 48px;
  }

  .card-time {
    padding-top: 24px;
    padding-left: 14px;
  }

  .card-title {
    margin-bottom: 4px;
    padding-left: 14px;
    font-size: 20px;
  }

  .card-text {
    padding-bottom: 24px;
    padding-left: 14px;
    font-size: 16px;
  }

  .card-data-ivent {
    top: 124px;
  }

  .broadcast__h2 {
    margin-bottom: 119px;
    padding-top: 37px;
    font-size: 48px;
  }

  .broadcast__archive-content {
    display: flex;
  }

  .broadcast__archive-btn {
    max-width: 160px;
  }

  .broadcast__archive-text {
    max-width: 255px;
  }

  .broadcast__card-body {
    padding-bottom: 20px;
  }

  .broadcast__card-title {
    margin-top: 11px;
    margin-bottom: 2px;
    padding-left: 6px;
  }

  .broadcast__card-text {
    margin-bottom: 12px;
    padding-left: 6px;
    font-size: 12px;
  }

  .broadcast__card-link {
    padding-left: 5px;
    font-size: 16px;
    bottom: 20px;
  }

  .broadcast__bottom-offset {
    margin-bottom: 31px;
  }

  .broadcast__archive::before {
    width: calc(100% + 204px);
  }

  .broadcast__archive-img {
    margin-left: 0;
    margin-right: 0;
    padding-right: 20px;
  }

  .broadcast__archive-btn {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .broadcast__archive-text {
    margin-bottom: -2px;
  }

  .broadcast__archive-text {
    font-size: 16px;
  }

  .guest {
    margin-top: 31px;
    padding-bottom: 45px;
  }

  .guest__h2 {
    padding-top: 94px;
    font-size: 48px;
  }

  .guest__text {
    margin-bottom: 7px;
    font-size: 20px;
  }

  .guest__description {
    margin-bottom: 50px;
    font-size: 20px;
  }

  .guest__card {
    margin-bottom: 32px;
  }

  .guest__card-body {
    padding-top: 30px;
  }

  .guest__card-title {
    margin-bottom: 9px;
    padding-left: 0;
  }

  .guest__card-text {
    margin-bottom: 4px;
    padding-left: 0;
  }

  .guest__card-btn {
    padding: 12px 19.5px;
  }

  .playlist {
    padding-bottom: 83px;
  }

  .playlist__h2 {
    margin-bottom: 6px;
    font-size: 48px;
    padding-top: 38px;
  }

  .playlist__description {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 22px;
  }

  .playlist__copyright {
    font-size: 16px;
  }

  .playlist__card-img {
    min-width: 113px;
  }

  .playlist__country {
    left: 0;
  }

  .playlist__card {
    margin-bottom: 29px;
  }

  .playlist__card-title {
    padding: 0;
    font-size: 16px;
  }

  .playlist__card-text {
    padding: 0;
    font-size: 12px;
  }

  .playlist__card-body {
    padding: 38px 8px;
  }

  .advantage {
    padding-bottom: 92px;
  }

  .advantage__h2 {
    margin-top: 49px;
    font-size: 48px;
  }

  .advantage__wave {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .advantage__description {
    margin-top: 7px;
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 180%;
  }

  .advantage__price {
    margin-top: 26px;
    margin-bottom: 27px;
    font-size: 30px;
  }

  .advantage__btn {
    padding: 25px 13.5px;
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .broadcast__row {
    position: relative;
  }

  .broadcast__up-offset {
    margin-top: 56px;
  }

  .broadcast__bottom-offset {
    margin-bottom: 0;
  }

  .broadcast__archive {
    position: absolute;
    left: 12px;
    bottom: 32px;
  }

  .broadcast__archive::before {
    border: none;
  }

  .broadcast__archive-img {
    margin-bottom: 24px;
  }

  .broadcast__archive-btn {
    margin-bottom: 12px;
  }

  .guest__card-body {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 0;
  }

  .playlist {
    padding-bottom: 64px;
  }

  .playlist__card-body {
    padding-left: 3px;
    padding-right: 0;
  }

  .advantage {
    padding-top: 46px;
  }

  .advantage__description {
    padding-right: 20px;
  }

  .advantage__price {
    margin-top: 24px;
  }
}

@media (min-width: 1024px) {

  .container {
    padding-left: 68px;
    padding-right: 68px;
  }

  .header {
    padding: 0 100px;
  }

  .nav__list {
    font-size: 20px;
  }

  .header__search {
    right: 94px;
  }

  .nav__list {
    gap: 105px;
  }

  .hero__background {
    width: 260px;
    height: 272px;
    background: url("../img/microphone.png");
    background-repeat: no-repeat;
  }

  .guest {
    margin-top: 65px;
  }

  .playlist__card-body {
    padding-left: 8px;
  }
}

@media (min-width: 1200px) {

  .advantage {
    padding-bottom: 132px;
  }

  .advantage__img {
    position: relative;
  }

  .advantage__new {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/new.png);
    background-repeat: no-repeat;
  }

  .advantage__description {
    padding-right: 0;
  }
}

@media (min-width: 1920px) {

  .container {
    padding-left: 104px;
    padding-right: 104px;
  }

  .header {
    display: flex;
    padding: 0 405px;
  }

  .header__main {
    display: flex;
  }

  .header__logo {
    width: 160px;
    padding-top: 6px;
  }

  .header__search {
    right: 400px;
  }

  .header__nav {
    border: none;
  }

  .header__bottom {
    margin-left: -35px;
    padding-top: 34px;
  }

  .nav__list {
    gap: 59px;
  }

  .hero__content {
    margin-bottom: 40px;
  }

  .hero__h1 {
    padding-top: 102px;
  }

  .hero__description {
    margin-bottom: 42px;
    padding-right: 5px;
  }

  .hero__btn {
    margin-bottom: 54px;
  }

  .hero__background {
    width: 360px;
    height: 382px;
    background: url("../img/microphone_xl.png");
    background-repeat: no-repeat;
  }

  .guest {
    margin-top: 64px;
    padding-bottom: 43px;
  }

  .guest__h2 {
    margin-bottom: 12px;
  }

  .guest__description {
    margin-bottom: 48px;
  }

  .guest__card {
    margin-bottom: 51px;
  }

  .guest__card-btn {
    position: absolute;
    bottom: -2px;
  }

  .playlist {
    padding-bottom: 61px;
  }

  .playlist__card {
    margin-bottom: 31px;
  }

  .playlist__card-top-offset {
    margin-top: 56px;
  }

  .playlist__country {
    left: auto;
    right: 0;
  }

  .playlist__card-body {
    padding-top: 10px;
    padding-bottom: 16px;
    padding-left: 17px;
  }
}
