@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .podcasts__container {
    padding-top: 12px;
  }

  .podcasts__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .podcasts__card-body {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .podcasts__card-data-ivent {
    top: calc(100% - 16px);
  }

  .podcasts__card-body {
    padding: 40px 30px 39px;
  }

  .podcasts__card-body-time {
    margin-top: 0;
    padding-top: 0;
  }

  .podcasts__card-body-text {
    margin-bottom: 0px;
    padding-bottom: 0;
  }

  .podcasts__card-body-title {
    font-size: 20px;
  }

  .podcasts__card-body-text {
    font-size: 16px;
  }

  .guest__card-body {
    padding-right: 45px;
  }

  .playlist__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .playlist__card-body {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .playlist__country {
    left: 0;
  }

  .footer-section-2::before {
    background-color: transparent;
  }

  .footer__nav {
    height: 114px;
    margin-top: 21px;
    gap: 29px 156px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding-left: 90px;
    padding-right: 90px;
  }

  .header__border {
    height: 60px;
    top: 80px;
  }

  .header__logo {
    padding-top: 29px;
    padding-bottom: 26px;
  }

  .header__logo-img {
    width: 113px;
  }

  .header__nav {
    padding: 22px 0;
  }

  .nav__list {
    gap: 56px;
  }

  .hero__h1 {
    margin-top: 3px;
    padding-top: 90px;
    font-size: 60px;
  }

  .hero__description {
    margin-top: 15px;
    margin-bottom: 19px;
    font-size: 16px;
  }

  .hero__btn {
    padding: 26px 54px;
    font-size: 20px;
  }

  .hero__content {
    margin-bottom: 90px;
  }

  .podcasts__container {
    padding-bottom: 94px;
  }

  .podcasts__h2 {
    margin-bottom: 30px;
    padding-top: 40px;
    font-size: 48px;
  }

  .broadcast__h2 {
    margin-bottom: 119px;
    padding-top: 17px;
    font-size: 48px;
  }

  .broadcast__block-content {
    margin-bottom: 60px;
  }

  .broadcast__archive-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .broadcast__archive-img {
    margin-right: 10px;
  }

  .broadcast__archive-btn {
    max-width: 160px;
  }

  .broadcast__archive-text {
    max-width: 255px;
  }

  .broadcast__card-body {
    padding-bottom: 20px;
  }

  .broadcast__card-body-title {
    margin-top: 11px;
    margin-bottom: 2px;
    padding-left: 6px;
    font-size: 20px;
  }

  .broadcast__card-body-text {
    margin-bottom: 34px;
    padding-left: 6px;
    font-size: 12px;
  }

  .broadcast__card-body-link {
    padding-left: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    bottom: 20px;
    color: var(--very-dark-shade-of-blue);
  }

  .broadcast__card-arrow path {
    fill: currentColor;
  }

  .broadcast__bottom-offset {
    margin-bottom: 31px;
  }

  .broadcast__archive-img {
    margin-left: 0;
    margin-right: 0;
    padding-right: 30px;
  }

  .broadcast__archive-btn {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .broadcast__archive-text {
    margin-bottom: -2px;
  }

  .broadcast__archive-text {
    font-size: 16px;
  }

  .guest {
    margin-top: 27px;
    padding-bottom: 57px;
  }

  .guest__h2 {
    padding-top: 94px;
    font-size: 48px;
  }

  .guest__text {
    margin-bottom: 7px;
    font-size: 20px;
  }

  .guest__description {
    margin-bottom: 50px;
    font-size: 20px;
  }

  .guest__block-content {
    gap: 14px;
  }

  .guest__card {
    margin-bottom: 32px;
  }

  .guest__card-body {
    --offsets: 9;
    width: calc(100% / 12 * var(--offsets));
    padding-top: 30px;
  }

  .guest__card-body-title {
    padding-left: 0;
  }

  .guest__card-body-text {
    margin-bottom: 29px;
    padding-left: 0;
  }

  .guest__card-body-btn {
    padding: 12px 19.5px;
  }

  .playlist {
    padding-bottom: 82px;
  }

  .playlist__h2 {
    margin-bottom: 6px;
    padding-top: 38px;
    font-size: 48px;
  }

  .playlist__description {
    margin-top: 9px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 22px;
  }

  .playlist__copyright {
    font-size: 16px;
  }

  .playlist__card-img {
    min-width: 113px;
  }

  .playlist__block-content {
    gap: 29px;
  }

  .playlist__card-body-title {
    padding: 0;
    font-size: 16px;
  }

  .playlist__card-body-text {
    padding: 0;
    font-size: 12px;
  }

  .playlist__card-body {
    padding: 38px 8px;
  }

  .advantage {
    padding-bottom: 92px;
  }

  .advantage__h2 {
    margin-top: 43px;
    padding-right: 50px;
    font-size: 48px;
  }

  .advantage__wave {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .advantage__description {
    margin-top: 3px;
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 180%;
  }

  .advantage__price {
    margin-top: 26px;
    margin-bottom: 27px;
    font-size: 30px;
  }

  .advantage__btn {
    padding: 23px 13.5px;
    font-size: 20px;
  }

  .about {
    padding-top: 56px;
    padding-bottom: 91px;
  }

  .about__h2 {
    margin-top: 42px;
    margin-bottom: 12px;
    font-size: 48px;
  }

  .about__h3 {
    margin-bottom: 7px;
    padding-right: 0;
    font-size: 20px;
  }

  .about__description {
    margin-bottom: 28px;
    font-size: 20px;
  }

  .about__spiral-md {
    display: inline-block;
    margin-right: 24px;
  }

  .about__dawn-md {
    display: inline-block;
  }

  .about__block-teacher {
    margin-top: 170px;
  }

  .about__card-body {
    padding-top: 26px;
  }

  .about__card-body-title,
  .about__card-body-text {
    padding-left: 0;
  }

  .about__card-body-title {
    margin-bottom: 9px;
    font-size: 20px;
  }

  .about__card-body-text {
    padding-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .form__textarea,
  .form__name,
  .form__email {
    font-size: 20px;
  }

  .form__textarea {
    padding: 30px 10px 10px 32px;
    border-radius: 30px;
  }

  .form__name,
  .form__email {
    height: 70px;
    padding: 10px 10px 10px 32px;
  }

  .form__btn {
    padding: 25px 54px;
    font-size: 20px;
  }

  .checkbox {
    margin-top: 27px;
  }

  .custom-checkbox-text {
    font-size: 12px;
  }

  .footer {
    padding-top: 94px;
  }

  .footer__social {
    margin-bottom: 52px;
  }

  .footer__nav-link {
    font-size: 16px;
  }

  .footer__nav-padding {
    padding-bottom: 68px;
  }

  .footer__wave {
    width: calc(100% + 14px);
    margin-left: -14px;
  }

  .footer__w-wawe {
    margin-top: 2px;
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding-left: 68px;
    padding-right: 68px;
  }

  .header__border {
    height: 64px;
  }

  .hero__block {
    position: relative;
  }

  .hero__block-item {
    --offsets: 8;
    width: calc(100% / 12 * var(--offsets));
  }

  .hero__background {
    position: absolute;
    width: 260px;
    height: 272px;
    bottom: 0;
    right: 0;
    background: url("../img/microphone.png");
    background-repeat: no-repeat;
  }

  .nav__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
    font-size: 20px;
  }

  .nav__item {
    width: 95px;
  }

  .podcasts__card {
    --offsets: 6;
    width: calc(100% / 12 * var(--offsets) - 15px);
  }

  .podcasts__card-picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .podcasts__card-body {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 78px;
  }

  .podcasts__card-body-title {
    margin-bottom: 4px;
  }

  .broadcast__block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 55px;
  }

  .broadcast__h2 {
    --offsets: 4;
    width: calc(100% / 12 * var(--offsets));
    margin-bottom: 0;
  }

  .broadcast__block-content {
    margin-top: 76px;
    margin-bottom: 0;
  }

  .broadcast__card {
    --offsets: 6;
    width: calc(100% / 12 * var(--offsets) - 15px);
  }

  .broadcast__archive {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 2px;
  }

  .broadcast__archive-content {
    margin-left: 10px;
  }

  .broadcast__archive::before {
    border: none;
  }

  .broadcast__archive-img {
    margin-bottom: 21px;
  }

  .broadcast__archive-btn {
    margin-bottom: 12px;
  }

  .guest {
    margin-top: 93px;
    padding-bottom: 58px;
  }

  .guest__text {
    margin-bottom: 9px;
  }

  .guest__description {
    margin-bottom: 82px;
  }

  .guest__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .guest__card-body {
    --offsets: 5;
    width: calc(100% / 12 * var(--offsets) + 49px);
    padding-top: 0;
    padding-left: 30px;
    padding-right: 0;
  }

  .guest__card-body-text {
    margin-bottom: 0;
    padding-bottom: 31px;
  }

  .playlist {
    padding-bottom: 62px;
  }

  .playlist__card {
    --offsets: 4;
    width: calc(100% / 12 * var(--offsets) - 20px);
  }

  .playlist__card-body {
    padding-left: 8px;
    padding-right: 0;
  }

  .advantage {
    padding-top: 46px;
  }

  .advantage__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }

  .advantage__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    padding-top: 54px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .advantage__block-content {
    width: 50%;
  }

  .advantage__h2 {
    margin-top: 48px;
    padding-right: 0;
  }

  .advantage__description {
    padding-right: 20px;
  }

  .advantage__price {
    margin-top: 26px;
  }

  .about {
    padding-bottom: 92px;
  }

  .about__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 19px;
  }

  .about__spiral-md,
  .about__dawn-md {
    display: none;
  }

  .about__block-main {
    width: calc(100% / 12 * 8);
  }

  .about__dawn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__dawn-svg {
    display: inline-block;
    margin-top: 30px;
  }

  .about__description {
    margin-bottom: 10px;
  }
  .about__block-teacher {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .form {
    width: 100%;
  }
  .form__textarea-width {
    width: 100%;
  }

  .form__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 28px;
  }

  .form__resize {
    width: calc(50% - 15px);
  }

  .checkbox {
    margin-top: 28px;
  }

  .footer {
    padding-top: 94px;
  }

  .footer__block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer-section-1 {
    width: 160px;
  }

  .footer-section-2 {
    width: 445px;
  }

  .footer-section-2::before {
    width: 100%;
  }

  .footer__logo {
    margin-bottom: 17px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer__social {
    width: 138px;
    height: 24px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 110px;
  }

  .footer__social-size-svg {
    width: 24px;
    height: 24px;
  }

  .footer__nav {
    margin-top: 0;
    gap: 17px 109px;
  }

  .footer__nav-padding {
    padding-bottom: 60px;
  }

  .footer__wave {
    width: calc(100% + 20px);
    margin-top: 4px;
    margin-left: -20px;
  }

  .footer__w-wawe {
    margin-top: 3px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .header__border {
    border: none;
  }

  .header__block {
    padding-top: 2px;
  }

  .header__logo {
    --offsets: 2;
  }

  .header__search {
    --offsets: 2;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .header__menu {
    --offsets: 8;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header__nav {
    padding-left: 56px;
    padding-right: 48px;
  }

  .podcasts__h2 {
    margin-bottom: 33px;
  }

  .broadcast__h2 {
    --offsets: 3;
  }

  .broadcast__block-content {
    margin-top: 73px;
  }

  .broadcast__card {
    --offsets: 4;
    width: calc(100% / 12 * var(--offsets) - 20px);
  }

  .advantage {
    padding-bottom: 132px;
  }

  .advantage__img {
    position: relative;
  }

  .advantage__new {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/new.png);
    background-repeat: no-repeat;
  }

  .advantage__description {
    padding-right: 0;
  }

  .about {
    padding-bottom: 89px;
  }

  .about__card-body {
    padding-top: 27px;
  }

  .footer__nav {
    padding-left: 3px;
  }

  .footer__nav-padding {
    padding-bottom: 62px;
  }

  .footer__wave {
    width: 100%;
    margin-left: 0;
  }

  .footer__w-wawe {
    margin-top: 4px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    padding-left: 104px;
    padding-right: 104px;
  }

  .header__logo-img {
    width: 160px;
    padding-top: 6px;
  }

  .header__nav {
    border: none;
  }

  .hero__content {
    margin-bottom: 40px;
  }

  .hero__block-item {
    --offsets: 7;
  }

  .hero__h1 {
    padding-top: 93px;
  }

  .hero__description {
    margin-bottom: 43px;
    padding-right: 5px;
  }

  .hero__btn {
    margin-bottom: 54px;
  }

  .hero__background {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 355px;
    height: 382px;
    background: url("../img/microphone_xl.png");
    background-repeat: no-repeat;
  }

  .guest {
    margin-top: 93px;
    padding-bottom: 59px;
  }

  .guest__h2 {
    margin-bottom: 12px;
  }

  .guest__description {
    width: 70%;
    margin-bottom: 48px;
  }

  .guest__card {
    gap: 15px;
  }

  .guest__card-body {
    width: calc(100% / 12 * var(--offsets) + 10px);
    position: relative;
    padding-top: 3px;
    padding-left: 16px;
  }

  .guest__card-body-btn {
    position: absolute;
    bottom: 0;
  }

  .playlist {
    padding-bottom: 62px;
  }

  .playlist__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 74px;
    margin-top: 38px;
  }

  .playlist__h2 {
    padding-top: 0;
  }

  .playlist__block-content {
    margin-top: 18px;
  }

  .playlist__card {
    width: calc(100% / 4 - 22px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .playlist__country {
    left: auto;
    right: 0;
  }

  .playlist__card-body {
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 14px;
  }

  .playlist__card-body-text {
    margin-top: 3px;
  }

  .advantage__img {
    width: 640px;
  }

  .advantage__block-content {
    width: 445px;
  }

  .about__block-main {
    width: calc(100% / 12 * 7);
  }

  .about__spiral-svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 39px;
    margin-right: 7px;
  }

  .about__card {
    width: calc(100% / 12 * 3 - 23px);
  }

  .form__textarea-width {
    width: calc(100% / 12 * 10);
  }

  .form__resize {
    width: calc(100% / 12 * 5 - 15px);
  }

  .footer-section-2 {
    margin-right: 4px;
  }
}
