html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  /* border: 1px solid red; */
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Muller", sans-serif;
  margin: 0;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../font/MullerRegular.woff2") format("woff2"),
    url("../font/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"),
    url("../font/MullerLight.woff2") format("woff2"),
    url("../font/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../font/MullerBold.woff2") format("woff2"),
    url("../font/MullerBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gap {
  gap: 30px 0;
}

.full-height{
  background:#ccc;
}
.col-sm-10{
  background:#f0f;
}

.card-padding-right {
  padding-right: 14px;
}

.card-padding-left {
  padding-left: 14px;
}

.btn-blue-violet {
  padding: 17px 45px;
  border-radius: 40px;
  background: #6D31EE;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


/* header */

.header {
  padding: 0 32px;
}

.header__top {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__bottom {
  padding-top: 17px;
  padding-bottom: 17px;
}

.header__search {
  position: absolute;
  top: 15px;
  right: 26px;
  border: none;
  outline: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.header__nav {
  margin-left: -32px;
  margin-right: -32px;
  padding-right: 32px;
  padding-left: 32px;
  overflow-y: hidden;
  border: 1px solid #E6E8EC;
}

.nav__list {
  gap: 26px;
  color: #121723;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__search svg path {
  stroke: #6D31EE;
}

/* Hero */

.hero__content {
  margin-bottom: 40px;
}

.hero__h1 {
  padding-top: 40px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.hero__description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* Podcasts */

.podcasts {
  background-color: #E6E8EC;
}

.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 0;
}

.card-img-top {
  border-radius: 0;
}

.podcasts__content {
  padding-top: 52px;
  padding-bottom: 24px;
}

.podcasts__h2 {
  margin-bottom: 21px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.card-data-ivent {
  min-width: 51px;
  min-height: 16px;
  position: absolute;
  padding: 3px 6px;
  margin-bottom: 0;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #E6E8EC;
  top: 0;
}

.card-time {
  margin-bottom: 8px;
  padding-top: 14px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-title {
  margin-bottom: 5px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-text {
  padding-bottom: 14px;
  color: #A1A6B4;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Broadcast */

.broadcast__content {
  padding-top: 52px;
}

.broadcast__h2 {
  margin-bottom: 27px;
}

.broadcast__card {
  min-width: 113px;
}

.broadcast__card-body {
  min-height: 99px;
  padding: 9px 11px 11px 9px;
  border: 1px solid #E6E8EC;
}

.broadcast__card-title {
  font-size: 12px;
  font-weight: 500;
}

.broadcast__card-text {
  margin-bottom: 18px;
  padding-bottom: 0;
  font-size: 9px;
}

.broadcast__card-link {
  position: absolute;
  bottom: 11px;
  color: #6D31EE;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.broadcast__archive {
  position: relative;
  padding-top: 30px;
}

.broadcast__archive::before {
  content: "";
  position: absolute;
  top: 0;
  width: calc(100% + 40px);
  border-top: 1px solid #E6E8EC;
}

.broadcast__archive-img {
  margin-left: -10px;
  margin-right: 89px;
}

.broadcast__archive-text {
  margin-bottom: 6px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.broadcast__archive-btn {
  padding: 8px 30px;
  border-radius: 77px;
  border: 2px solid #121723;
  background-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Guest */

.guest {
  margin-top: 54px;
  padding-bottom: 24px;
  background-color: #121723;
}

.guest__container {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.guest__h2 {
  margin-bottom: 13px;
  padding-top: 54px;
  color: #fff;
  font-size: 24px;
  line-height: 100%;
}

.guest__text {
  margin-bottom: 0;
  color: #A1A6B4;
  font-weight: 700;
  line-height: 150%;
}

.guest__description {
  margin-bottom: 28px;
  color: #A1A6B4;
  line-height: 160%;
}

.guest__card {
  margin-bottom: 13px;
  background-color: #121723;
}

.guest__card-body {
  padding-top: 12px;
  padding-left: 0;
}

.guest__card-title {
  margin-bottom: 9px;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.guest__card-text {
  color: #A1A6B4;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.guest__card-btn {
  padding: 8.5px 14.5px;
  color: #AA9DFA;
  border-radius: 77px;
  border: 2px solid currentColor;
  background-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Playlist */

.playlist {
  padding-bottom: 24px;
}

.playlist__container {
  padding-top: 52px;
}

.playlist__description {
  margin-bottom: 1px;
  color: #A1A6B4;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.playlist__copyright {
  margin-bottom: 6px;
  color: #A1A6B4;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  line-height: 22px;
}

.playlist__img {
  margin-bottom: 30px;
}

.playlist__country {
  position: absolute;
  top: -2px;
  right: 0;
}

.playlist__card-body {
  padding: 8px 9px;
  border: 1px solid #E6E8EC;
}

.playlist__card-title {
  color: #121723;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.playlist__card-text {
  padding-bottom: 1px;
  color: #A1A6B4;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Advantage */

.advantage {
  padding-bottom: 52px;
  background-color: #292E39;
}

.advantage__img {
  margin-top: 54px;
}

.advantage__h2 {
  margin-top: 30px;
  color: #F0D288;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.advantage__wave {
  height: 24px;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 0;
}

.advantage__description {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.advantage__price {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.advantage__btn {
  padding: 15px 16px;
  border-radius: 100px;
  border: 2px solid #F0D288;
  background-color: transparent;
  color: #F0D288;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

/* About */

.about {
  padding-top: 52px;
  background-color: #121723;
}

.about__h2 {
  margin-bottom: 13px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.about__h3 {
  margin-bottom: 2px;
  padding-right: 12px;
  color: #A1A6B4;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.about__description {
  color: #A1A6B4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.about__svg {
  position: absolute;
  left: 0;
}

.about__dawn-svg {
  margin-top: 12px;
  padding-left: 16px;
}

.about__spiral-svg {
  margin-top: 13px;
}

.about__card {
  margin-bottom: 29px;
  background-color: #121723;
}

.about__card-body {
  padding: 0;
  padding-top: 10px;
}

.about__card-title {
  margin-bottom: 7px;
  padding-right: 9px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.about__card-text {
  color: #A1A6B4;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.about__card-text {
  padding-bottom: 0;
}

.form__textarea,
.form__name,
.form__email {
  height: 50px;
  padding: 10px 10px 10px 24px;
  border-radius: 40px;
  border: 1px solid #FFF;
  background-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__textarea {
  height: 150px;
  padding: 17px 10px 10px 24px;
  border-radius: 20px;
}

.form__textarea::placeholder,
.form__name::placeholder,
.form__email::placeholder {
  color: #A1A6B4;
}

.checkbox {
  margin-top: 9px;
}

.custom-checkbox {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.custom-checkbox-input {
  position: absolute;
  opacity: 0;
}

.custom-checkbox-text {
  position: relative;
  padding-left: 22px;
  color: #FFF;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.custom-checkbox-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 13px;
  height: 13px;
  border: 1px solid #FFF;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.custom-checkbox-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 13px;
  height: 13px;
  background-image: url("../img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: opasity 0.3s;
  -o-transition: opasity 0.3s;
  transition: opasity 0.3s;
}

.custom-checkbox-input:checked + .custom-checkbox-text::after {
  opacity: 1;
}

/* hover, focus, active */

.nav__link {
  outline: 10px solid transparent;
  outline-offset: 0;
  transition: color .3s ease-in-out, background-color  .3s ease-in-out, outline .3s ease-in-out;
}

.nav__link:focus {
  outline: 10px solid #AA9DFA;
  color: #fff;
  background-color: #AA9DFA;
}

.nav__link:hover {
  outline: 0 solid transparent;
  background-color: transparent;
  color: #6D31EE;
}

.nav__link:active {
  color: #4F28A5;
}

.header__search svg path {
  transition: stroke .3s ease-in-out;
}

.header__search:focus svg path {
  stroke: #AA9DFA;
}

.header__search:hover svg path {
  stroke: #AA9DFA;
}

.header__search:active svg path {
  stroke: #4F28A5;
}

/* .hero__btn { */
.btn-blue-violet {
  outline-offset: 0;
  outline: 2px solid transparent;
  transition: background-color .3s ease-in-out, outline .3s ease-in-out, color .3s ease-in-out;
}

.btn-blue-violet:focus {
  color: #FFF;
  outline: 2px solid #4F28A5;
  background-color: #AA9DFA;
}

.btn-blue-violet:hover {
  color: #FFF;
  outline: 2px solid #AA9DFA;
  background-color: #AA9DFA;
}

.btn-blue-violet:active {
  color: #FFF;
  background-color: #4F28A5;
}
